@page
@model MusicPlaylist.Pages.XML.CreateModel
@using System.Data
@using Code.XML
@using MusicPlaylist.Code
@using Newtonsoft.Json
@{
  
    SongMethods  sm = new SongMethods();
      

    string id = Request.Query["id"];

    Song s = sm.GetSong(id);

    if ( Request.Method == "POST")
    {
        s.artist = Request.Form["artist"];
        s.title = Request.Form["title"];
        s.year = (Request.Form["year"]);
        s.genre = (Request.Form["year"]);
        s.time = (Request.Form["year"]);
        s.year = (Request.Form["year"]);

        sm.SaveSong(s);
    }
}


<form method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Id</td>
            <td><input type="text" id="id" value="@s.id" name="id"/></td>
        </tr>
        <tr>
            <td>Artist</td>
            <td><input type="text"id="artist" value="@s.artist" name="artist"/></td>
        </tr>
        <tr>
            <td>Title</td>
            <td><input type="text"id="title" value="@s.title" name="title" /></td>
        </tr>
        <tr>
            <td>Year</td>
            <td><input type="text"id="year" value="@s.year" name="year" /></td>
        </tr>
        <tr>
            <td>Genre</td>
            <td><input type="text" id="genre" value="@s.genre" name="genre"/></td>
        </tr>
        <tr>
            <td>Time</td>
            <td><input type="text"id="time" value="@s.time" name="time" /></td>
        </tr>
        <tr>
            <td>Url</td>
            <td><input type="text" id="url" value="@s.url" name="url" /></td>
        </tr>
        <tr>
            <td>Submit</td>
            <td><input type="submit" asp-page-handler="Uploads"/></td>
        </tr>
    </table>
</form>
